<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chapter 5, Using template</title>
</head>
<body>
    <div>This is the t1.html before</div>
    <div>This is the value of the dot in t1.html - [{{ . }}]</div>
    <hr>

        {{ template "t2.html" }}    

    <hr>
    <div>This is the t1.html after</div>
    <div>Now t2.html passing the arguments</div>
    <hr>

        {{ template "t2.html" . }}    

    <hr>
</body>
</html>